@page "/newPlant"
@using Microsoft.AspNetCore.Http
@using Plants.Api.Domain.Dtos
@using Plants.WA.Services
@using Plants.WA.Shared


@inject NavigationManager NavigationManager
<NavMenu />
<h3>NewPlantRecord</h3>


<form>
    <div class="form-group">
        <label for="inputNombre">Nombre:</label>
        <input type="text" class="form-control" id="inputNombre" @bind="@Nombre">
    </div>
    <div class="form-group">
        <label for="inputEmail">Foto:</label>
        <InputFile OnChange="HandleFileChange" />
        @if (Foto != null)
        {
            <h4>Imagen cargada:</h4>
            <img src="@Foto" alt="Imagen cargada" />
        }
    </div>
    <div class="form-group">
        <label for="inputFechaLlegadaCasa">Fecha De Llegada A Casa:</label>
        <input type="text" class="form-control" id="inputFechaLlegadaCasa" @bind="@FechaLlegadaCasa">
    </div>

    <div class="form-group">
        <label for="inputFamilia">Familia:</label>
       
        <input type="text" class="form-control" id="inputFamilia" @bind="@Familia">
    </div>
    <div class="form-group">
        <label for="inputOrigen">Origen:</label>
        <input type="text" class="form-control" id="inputOrigen" @bind="@Origen">
    </div>
    <div class="form-group">
        <label for="inputCaracteristicas">Caracteristicas:</label>
        <input type="text" class="form-control" id="inputCaracteristicas" @bind="@Caracteristicas">
    </div>
    <div class="form-group">
        <label for="inputHojas">Hojas:</label>
        <input type="text" class="form-control" id="inputHojas" @bind="@Hojas">
    </div>
     <div class="form-group">
        <label for="inputFlores">Flores:</label>
        <input type="text" class="form-control" id="inputFlores" @bind="@Flores">
    </div>
     <div class="form-group">
        <label for="inputEpocaFloracion">EpocaFloracion:</label>
        <input type="text" class="form-control" id="inputEpocaFloracion" @bind="@EpocaFloracion">
    </div>
     <div class="form-group">
        <label for="inputDestino">Destino:</label>
        <input type="text" class="form-control" id="inputDestino" @bind="@Destino">
    </div>
     <div class="form-group">
        <label for="inputAdaptacion">Adaptación:</label>
        <input type="text" class="form-control" id="inputAdaptacion" @bind="@Adaptacion">
    </div>
     <div class="form-group">
        <label for="inputSuelo">Suelo:</label>
        <input type="tel" class="form-control" id="inputSuelo" @bind="@Suelo">
    </div>
    <div class="form-group">
        <label for="inputLuminosidad">Luminosidad:</label>
        <input type="tel" class="form-control" id="inputLuminosidad" @bind="@Luminosidad">
    </div>
    <div class="form-group">
        <label for="inputResistenciaFrio">Resistencia Al Frio:</label>
        <input type="tel" class="form-control" id="inputResistenciaFrio" @bind="@ResistenciaFrio">
    </div>
    <div class="form-group">
        <label for="inputHumedadAmbiente">Humedad Del Ambiente:</label>
        <input type="tel" class="form-control" id="inputHumedadAmbiente" @bind="@HumedadAmbiente">
    </div>
    <div class="form-group">
        <label for="inputRiego">Riego:</label>
        <input type="tel" class="form-control" id="inputRiego" @bind="@Riego">
    </div>
    <div class="form-group">
        <label for="inputAbonos">Abonos:</label>
        <input type="tel" class="form-control" id="inputAbonos" @bind="@Abonos">
    </div>
    <div class="form-group">
        <label for="inputParasitos">Parasitos:</label>
        <input type="tel" class="form-control" id="inputParasitos" @bind="@Parasitos">
    </div>
    <div class="form-group">
        <label for="inputPropagacion">Propagacion:</label>
        <input type="tel" class="form-control" id="inputPropagacion" @bind="@Propagacion">
    </div>
    <div class="form-group">
        <label for="inputCuidados">Cuidados:</label>
        <input type="tel" class="form-control" id="inputCuidados" @bind="@Cuidados">
    </div>






    <div class="form-group">
        <label for="inputMensaje">Mensaje:</label>
        <textarea class="form-control" id="inputMensaje" rows="5" @bind="@Familia"></textarea>
    </div>
    <button type="button" class="btn btn-primary" @onclick="@Enviar">Enviar</button>

         
        @if(spinner==true)
        {
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Creando Planta...
        </button>
        }    
    
</form>



@code {
   

    private string Nombre { get; set; }
    private string? Foto { get; set; }
    private string? FechaLlegadaCasa { get; set; }
               

    private string? Familia { get; set; }
    private string? Origen { get; set; }
    private string? Caracteristicas { get; set; }
    private string? Hojas { get; set; }
    private string? Flores { get; set; }
    private string? EpocaFloracion { get; set; }
    private string? Destino { get; set; }
    private string? Adaptacion { get; set; }
    private string? Suelo { get; set; }
    private string? Luminosidad { get; set; }
    private string? ResistenciaFrio { get; set; }
    private string? HumedadAmbiente { get; set; }
    private string? Riego { get; set; }
    private string? Abonos { get; set; }
    private string? Parasitos { get; set; }
    private string? Propagacion { get; set; }
    private string? Cuidados { get; set; }

    private bool spinner = false;

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null)
        {
            // Leer el contenido de la imagen
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);

            // Convertir los datos de la imagen a base64 para mostrarla
            Foto = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
        }
        else
        {
            Foto = null;
        }
    }
    private async void Enviar()
    {
        var createPlantRecord = new PlantDTO
        {
                Nombre = Nombre,
                Foto = Foto,
                FechaLlegadaCasa = FechaLlegadaCasa,                
                Familia = Familia,
                Origen = Origen,
                Caracteristicas = Caracteristicas,
                Hojas = Hojas,
                Flores = Flores,
                EpocaFloracion = EpocaFloracion,
                Destino = Destino,
                Adaptacion = Adaptacion,
                Suelo = Suelo,
                Luminosidad = Luminosidad,
                ResistenciaFrio = ResistenciaFrio,
                HumedadAmbiente = HumedadAmbiente,
                Riego = Riego,
                Abonos = Abonos,
                Parasitos = Parasitos,
                Propagacion = Propagacion,
                Cuidados = Cuidados,
                OwnerId="ale"

        };
        await CrearPlant(createPlantRecord);
        spinner = true;
        await Task.Delay(TimeSpan.FromSeconds(3));
        spinner = false;
               
        NavigationManager.NavigateTo("Plants");
    }
}
